@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap");
.container {
  width: 93.75vw;
}

@media screen and (min-width: 768px) {
  .container {
    width: 96.093vw;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    width: 73.125vw;
  }
}

a {
  text-decoration: none;
}

.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__container {
  width: 93.75vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
  padding: 16px 0 16px 0;
}

.menu__burger {
  position: relative;
  display: block;
  width: 5%;
  height: 100%;
  cursor: pointer;
}

.menu__burger:hover .menu__line,
.menu__burger:hover .menu__line::before,
.menu__burger:hover .menu__line::after {
  background-color: #2196F3;
}

.menu__line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #212121;
  width: 24px;
  height: 2px;
  font-family: 'Raleway', sans-serif;
}

.menu__line::before, .menu__line::after {
  content: '';
  position: absolute;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 24px;
  height: 2px;
  background-color: #212121;
}

.menu__line::before {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.menu__line::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.menu__burger_active > .menu__line::before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.menu__burger_active > .menu__line::after {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.menu__burger_active > .menu__line {
  height: 0;
}

.menu__text {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: bold;
}

.menu__text_blue {
  color: #2196F3;
}

.menu__popup {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 0 60px 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: center;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu__popup_disable {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  height: 0;
  display: none;
}

.menu__list {
  padding-bottom: 20px;
}

.menu__link {
  color: #212121;
  margin-bottom: 40px;
}

.menu__link a {
  position: relative;
  color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link a::after {
  content: "";
  position: absolute;
  left: 20;
  top: 90%;
  display: block;
  width: 0;
  height: 4px;
  margin-top: 8px;
  background: #2196F3;
  border-radius: 2px;
  -webkit-transition: width 0.5s ease-out;
  transition: width 0.5s ease-out;
}

.menu__link a:hover::after {
  width: 60px;
}

.menu__link a:hover,
.menu__link a:focus {
  color: #2196F3;
}

.menu__adress {
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__adress:nth-child(1) {
  margin-bottom: 16px;
}

.menu__adress-mail::before {
  content: "";
  display: block;
  width: 14px;
  height: 10px;
  margin-right: 8px;
  background-image: url(../icons/menu__letter.svg);
}

.menu__adress-phone::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 14px;
  margin-right: 8px;
  background-image: url(../icons/menu__smartphone.svg);
}

.menu__link a:hover .menu__link a::after {
  height: 4px;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 21px 0 21px 0;
  }
  .menu .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__burger {
    display: none;
  }
  .menu__container {
    width: 30%;
    border-bottom: none;
  }
  .menu__popup {
    position: static;
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  .menu__popup_disable {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__list {
    width: 56.97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
  }
  .menu__link {
    margin: 0;
  }
  .menu__addresses {
    font-size: 12px;
    line-height: 14px;
  }
  .menu__adress:nth-child(1) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1600px) {
  .menu__container {
    width: 14.85vw;
  }
  .menu__logo {
    width: 100%;
  }
  .menu__text {
    font-size: 26px;
    line-height: 31px;
  }
  .menu__popup {
    width: inherit;
  }
  .menu__list {
    width: 18.375vw;
  }
  .menu__addresses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__adress:hover, .menu__adress:focus {
    color: #2196F3;
  }
  .menu__adress:nth-child(1) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.footer {
  background-color: #2F303A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.footer__logo-left {
  color: #2196F3;
}

.footer__adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-mail {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.footer__contact-tel {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px;
}

.footer__location {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 8px;
}

.footer__social {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-item {
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 5px;
}

.footer__social-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input-group {
  width: 100%;
  text-align: center;
}

.footer__subscribe-input {
  width: calc(100% - 16px);
  height: 46px;
  background: #2F303A;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.footer__subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 29px;
}

.footer__subscribe-btn:after {
  display: block;
  content: "";
  height: 24px;
  width: 24px;
  background-image: url(../icons/footer__subscribe-btn-icon.svg);
  background-size: contain;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__adress, .footer__social {
    width: 48%;
  }
  .footer__subscribe {
    width: 58.59vw;
  }
  .footer__input-group {
    width: 100%;
  }
}

@media screen and (min-width: 1600px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__contact {
    width: 50%;
  }
  .footer__adress, .footer__social {
    width: 48%;
  }
  .footer__subscribe {
    width: 48.717%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__input-group {
    width: 62.807%;
  }
  .footer__subscribe-input {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=common.css.map */