@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap');

$primary-text-color: #212121;
$accent-color: #2196F3;
$secondary-text-color: #757575;
$grey-bg: #F5F4FA;
$footer-bg: #2F303A;
$white-color: #fff;
$black-shadow-color: rgba(0, 0, 0, 0.15);

.container {
    width: 93.75vw;
}

a {
    text-decoration: none;
}

.menu {
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        position: relative;
        display: block;
        width: 5%;
        height: 100%;
        // flex-direction: column;
        // justify-content: center;
    }

    &__line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%);
        transform: translateX(-50%);
        // display: block;
        background-color: $primary-text-color;
        width: 24px;
        height: 2px;
        // margin: 20px;
        font-family: 'Raleway', sans-serif;

        &::before, &::after{
            content: '';
            position: absolute;
            width: 24px;
            height: 2px;
            background-color:$primary-text-color ;
        }
        &::before {
            transform: translateY(-5px);
        }

        &::after {
            transform: translateY(5px);
        }

        // &::before {
        //     content: '';
        //     // display:block;
        //     background-color: $primary-text-color;
        //     width: 24px;
        //     height: 2px;
        //     // margin-bottom: 5px;
        // }

        // &::after {
        //     content: '';
        //     display:block;
        //     background-color: $primary-text-color;
        //     width: 24px;
        //     height: 2px;
        //     // margin-top: 5px;
        // }
    }

    &__text {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        font-style: normal;
        font-weight: bold;

        &_blue {
            color: $accent-color;
        }
    }
}

.filter {
    display: flex;
    justify-content: center;
    padding: 60px 0 40px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: $primary-text-color;
    letter-spacing: 0.03em;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        justify-content: flex-start; 
        flex-wrap: wrap;
    }

    &__item {
        padding: 6px 22px;
        margin: 0 8px 15px 0;
        color: $primary-text-color;
        background-color: $grey-bg;
        border-radius: 4px;
    }

    &__item_active {
        color: $white-color;
        background-color: $accent-color;
    }
}

.works {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    .container {
        display: flex;
        justify-content: center;
    }

    font-family: 'Roboto', sans-serif;

    &-list__item {
        border: 1px solid #EEEEEE;
        margin-bottom: 30px;
    }

    &-list__title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
        margin: 20px 0 4px 24px;
        color: $primary-text-color;
        letter-spacing: 0.06em;
    }
    &-list__category {
        margin: 20px 0 20px 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $secondary-text-color;
    }
}


.footer {
    background-color: $footer-bg;
    display: flex;
    justify-content: center;
    padding: 60px 0;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $white-color;
        margin-bottom: 20px;
    }

    &__logo-left {
        color: $accent-color;
    }

    &__adress {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__contact-mail {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 8px;
    }
    &__contact-tel {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 60px;
    }
 
    &__location {
        font-size: 14px;
        line-height: 24px;
        color: $white-color;
        margin-bottom: 8px;
    }

    &__social {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        display: flex;
      flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
    }

    &__social-list {
        display: flex;
        justify-content: center;
    }
    
    &__social-item {
        padding: 12px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.1);
        margin: 0 5px;
    }

    &__social-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
        margin-bottom: 20px;
    }

    &__subscribe {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    &__subscribe-input {
        width: calc(100% - 16px);
        height: 50px;
        background: #2F303A;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding-left: 16px;
        margin-bottom: 20px;
    }

    &__subscribe-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2196F3;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bold;
        color: #FFFFFF;
        padding: 10px 29px;
    }
    &__subscribe-btn:after {
        display: block;
        content: "";
        height: 24px;
        width: 24px;
        background-image: url(../icons/footer__subscribe-btn-icon.svg);
        background-size: contain;
        margin-left: 10px;
    }
}
