
.filter {
    display: flex;
    justify-content: center;
    padding: 60px 0 40px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: $primary-text-color;
    letter-spacing: 0.03em;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        justify-content: flex-start; 
        flex-wrap: wrap;
    }

    &__item {
        padding: 6px 22px;
        margin: 0 8px 15px 0;
        color: $primary-text-color;
        background-color: $grey-bg;
        border-radius: 4px;
    }

    &__item_active {
        color: $white-color;
        background-color: $accent-color;
    }
}

.works {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    .container {
        display: flex;
        justify-content: center;
    }

    font-family: 'Roboto', sans-serif;

    &-list__item {
        border: 1px solid #EEEEEE;
        margin-bottom: 30px;
    }

    &-list__title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 36px;
        margin: 20px 0 4px 24px;
        color: $primary-text-color;
        letter-spacing: 0.06em;
    }
    &-list__category {
        margin: 20px 0 20px 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $secondary-text-color;
    }
}