@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto&display=swap");
.container {
  width: 93.75vw;
}

a {
  text-decoration: none;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0 16px 0;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__burger {
  position: relative;
  display: block;
  width: 5%;
  height: 100%;
}

.menu__line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #212121;
  width: 24px;
  height: 2px;
  font-family: 'Raleway', sans-serif;
}

.menu__line::before, .menu__line::after {
  content: '';
  position: absolute;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 24px;
  height: 2px;
  background-color: #212121;
}

.menu__line::before {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.menu__line::after {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.menu__text {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: bold;
}

.menu__text_blue {
  color: #2196F3;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 40px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #212121;
  letter-spacing: 0.03em;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__item {
  padding: 6px 22px;
  margin: 0 8px 15px 0;
  color: #212121;
  background-color: #F5F4FA;
  border-radius: 4px;
}

.filter__item_active {
  color: #fff;
  background-color: #2196F3;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.works .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-list__item {
  border: 1px solid #EEEEEE;
  margin-bottom: 30px;
}

.works-list__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin: 20px 0 4px 24px;
  color: #212121;
  letter-spacing: 0.06em;
}

.works-list__category {
  margin: 20px 0 20px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}

.footer {
  background-color: #2F303A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}

.footer__logo-left {
  color: #2196F3;
}

.footer__adress {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-mail {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 8px;
}

.footer__contact-tel {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px;
}

.footer__location {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 8px;
}

.footer__social {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social-item {
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 5px;
}

.footer__social-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__subscribe-input {
  width: calc(100% - 16px);
  height: 50px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.footer__subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #FFFFFF;
  padding: 10px 29px;
}

.footer__subscribe-btn:after {
  display: block;
  content: "";
  height: 24px;
  width: 24px;
  background-image: url(../icons/footer__subscribe-btn-icon.svg);
  background-size: contain;
  margin-left: 10px;
}
/*# sourceMappingURL=portfolio.css.map */